@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

:root {
    --bgColor: #b19efd;
    --bgColor2: #b19efd;
    --accentColor: #c6dea6;
    --font: 'Karla', sans-serif;
    --delay: .3s;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: var(--font);
    background: radial-gradient(ellipse at bottom, var(--bgColor) 0%, var(--bgColor2) 100%);
    /* background-image: url('https://bit.ly/3nFVqJh'); */
    opacity: 0;
    animation: 1s ease-out var(--delay) 1 transitionAnimation; /* duration/timing-function/delay/iterations/name */
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#profilePicture, #profilePicture img {
    position: relative;
    width: 96px;
    height: 96px;
    display: block;
    margin: 40px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

#userName {
    color: var(--accentColor);
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#links {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.link {
    position: relative;
    background-color: transparent;
    color: var(--accentColor);
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; /* 17px */
    text-decoration: none;
    /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}

#hashtag {
    position: relative;
    padding-bottom: 20px;
    color: var(--accentColor);
    font-size: 1rem;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;

    /*  animation   */
    overflow: hidden;
    background: linear-gradient(90deg, var(--bgColor), var(--accentColor), var(--bgColor));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear var(--delay) infinite;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}


/*-------------------------animations-----------------------*/
@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    0% {
      background-position: -500%;
    }
    100% {
      background-position: 500%;
    }
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}


/*-------------------------popup------------------------*/
/* credits: https://www.youtube.com/watch?v=lAS2glU0xlc */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.popup {
    position: relative;
    top: -43%;
    /* right: -100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    /* max-height: 500px; */
    width: auto;
    height: auto;
    margin: 56px;
    background-color: var(--bgColor);
    /* transform: rotate(32deg); */
    transform: scale(0);
    transition: .5s ease-in-out;
}

.popup-quote {
    font-family : Baskerville, Georgia, serif;
    font-style : italic;
    position: flex;
    color: var(--accentColor);
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

.popup-photo {
    display: flex;
    width: 100%;
    height: 100%;
}

.popup-photo img {
    width: 100%;
    height: 100%;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.overlay:target .popup {
    transform: scale(1);
    top: 0;
    /* right: 0; */
    /* transform: rotate(0); */
}

.popup-close {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.7rem;
    font-weight: 400;
    border-radius: 100%;
    background-color: var(--bgColor);
    z-index: 4;
    color: var(--accentColor);
    line-height: 2.7rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
    .popup-close:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
    }
}

.popup-close:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}


/*-----------------------parallax-----------------------*/
/* credits: https://www.youtube.com/watch?v=aywzn9cf-_U */
#stars1 {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 120s linear infinite;

    box-shadow: 779px 1331px #E9F732, 324px 42px #E9F732, 303px 586px #E9F732,
    1312px 276px #E9F732, 451px 625px #E9F732, 521px 1931px #E9F732, 1087px 1871px #E9F732,
    36px 1546px #E9F732, 132px 934px #E9F732, 1698px 901px #E9F732, 1418px 664px #E9F732,
    1448px 1157px #E9F732, 1084px 232px #E9F732, 347px 1776px #E9F732, 1722px 243px #E9F732,
    1629px 835px #E9F732, 479px 969px #E9F732, 1231px 960px #E9F732, 586px 384px #E9F732,
    164px 527px #E9F732, 8px 646px #E9F732, 1150px 1126px #E9F732, 665px 1357px #E9F732,
    1556px 1982px #E9F732, 1260px 1961px #E9F732, 1675px 1741px #E9F732,
    1843px 1514px #E9F732, 718px 1628px #E9F732, 242px 1343px #E9F732, 1497px 1880px #E9F732,
    1364px 230px #E9F732, 1739px 1302px #E9F732, 636px 959px #E9F732, 304px 686px #E9F732,
    614px 751px #E9F732, 1935px 816px #E9F732, 1428px 60px #E9F732, 355px 335px #E9F732,
    1594px 158px #E9F732, 90px 60px #E9F732, 1553px 162px #E9F732, 1239px 1825px #E9F732,
    1945px 587px #E9F732, 749px 1785px #E9F732, 1987px 1172px #E9F732, 1301px 1237px #E9F732,
    1039px 342px #E9F732, 1585px 1481px #E9F732, 995px 1048px #E9F732, 524px 932px #E9F732,
    214px 413px #E9F732, 1701px 1300px #E9F732, 1037px 1613px #E9F732, 1871px 996px #E9F732,
    1360px 1635px #E9F732, 1110px 1313px #E9F732, 412px 1783px #E9F732, 1949px 177px #E9F732,
    903px 1854px #E9F732, 700px 1936px #E9F732, 378px 125px #E9F732, 308px 834px #E9F732,
    1118px 962px #E9F732, 1350px 1929px #E9F732, 781px 1811px #E9F732, 561px 137px #E9F732,
    757px 1148px #E9F732, 1670px 1979px #E9F732, 343px 739px #E9F732, 945px 795px #E9F732,
    576px 1903px #E9F732, 1078px 1436px #E9F732, 1583px 450px #E9F732, 1366px 474px #E9F732,
    297px 1873px #E9F732, 192px 162px #E9F732, 1624px 1633px #E9F732, 59px 453px #E9F732,
    82px 1872px #E9F732, 1933px 498px #E9F732, 1966px 1974px #E9F732, 1975px 1688px #E9F732,
    779px 314px #E9F732, 1858px 1543px #E9F732, 73px 1507px #E9F732, 1693px 975px #E9F732,
    1683px 108px #E9F732, 1768px 1654px #E9F732, 654px 14px #E9F732, 494px 171px #E9F732,
    1689px 1895px #E9F732, 1660px 263px #E9F732, 1031px 903px #E9F732, 1203px 1393px #E9F732,
    1333px 1421px #E9F732, 1113px 41px #E9F732, 1206px 1645px #E9F732, 1325px 1635px #E9F732,
    142px 388px #E9F732, 572px 215px #E9F732, 1535px 296px #E9F732, 1419px 407px #E9F732,
    1379px 1003px #E9F732, 329px 469px #E9F732, 1791px 1652px #E9F732, 935px 1802px #E9F732,
    1330px 1820px #E9F732, 421px 1933px #E9F732, 828px 365px #E9F732, 275px 316px #E9F732,
    707px 960px #E9F732, 1605px 1554px #E9F732, 625px 58px #E9F732, 717px 1697px #E9F732,
    1669px 246px #E9F732, 1925px 322px #E9F732, 1154px 1803px #E9F732, 1929px 295px #E9F732,
    1248px 240px #E9F732, 1045px 1755px #E9F732, 166px 942px #E9F732, 1888px 1773px #E9F732,
    678px 1963px #E9F732, 1370px 569px #E9F732, 1974px 1400px #E9F732, 1786px 460px #E9F732,
    51px 307px #E9F732, 784px 1400px #E9F732, 730px 1258px #E9F732, 1712px 393px #E9F732,
    416px 170px #E9F732, 1797px 1932px #E9F732, 572px 219px #E9F732, 1557px 1856px #E9F732,
    218px 8px #E9F732, 348px 1334px #E9F732, 469px 413px #E9F732, 385px 1738px #E9F732,
    1357px 1818px #E9F732, 240px 942px #E9F732, 248px 1847px #E9F732, 1535px 806px #E9F732,
    236px 1514px #E9F732, 1429px 1556px #E9F732, 73px 1633px #E9F732, 1398px 1121px #E9F732,
    671px 1301px #E9F732, 1404px 1663px #E9F732, 740px 1018px #E9F732, 1600px 377px #E9F732,
    785px 514px #E9F732, 112px 1084px #E9F732, 1915px 1887px #E9F732, 1463px 1848px #E9F732,
    687px 1115px #E9F732, 1268px 1768px #E9F732, 1729px 1425px #E9F732,
    1284px 1022px #E9F732, 801px 974px #E9F732, 1975px 1317px #E9F732, 1354px 834px #E9F732,
    1446px 1484px #E9F732, 1283px 1786px #E9F732, 11px 523px #E9F732, 1842px 236px #E9F732,
    1355px 654px #E9F732, 429px 7px #E9F732, 1033px 1128px #E9F732, 157px 297px #E9F732,
    545px 635px #E9F732, 52px 1080px #E9F732, 827px 1520px #E9F732, 1121px 490px #E9F732,
    9px 309px #E9F732, 1744px 1586px #E9F732, 1014px 417px #E9F732, 1534px 524px #E9F732,
    958px 552px #E9F732, 1403px 1496px #E9F732, 387px 703px #E9F732, 1522px 548px #E9F732,
    1355px 282px #E9F732, 1532px 601px #E9F732, 1838px 790px #E9F732, 290px 259px #E9F732,
    295px 598px #E9F732, 1601px 539px #E9F732, 1561px 1272px #E9F732, 34px 1922px #E9F732,
    1024px 543px #E9F732, 467px 369px #E9F732, 722px 333px #E9F732, 1976px 1255px #E9F732,
    766px 983px #E9F732, 1582px 1285px #E9F732, 12px 512px #E9F732, 617px 1410px #E9F732,
    682px 577px #E9F732, 1334px 1438px #E9F732, 439px 327px #E9F732, 1617px 1661px #E9F732,
    673px 129px #E9F732, 794px 941px #E9F732, 1386px 1902px #E9F732, 37px 1353px #E9F732,
    1467px 1353px #E9F732, 416px 18px #E9F732, 187px 344px #E9F732, 200px 1898px #E9F732,
    1491px 1619px #E9F732, 811px 347px #E9F732, 924px 1827px #E9F732, 945px 217px #E9F732,
    1735px 1228px #E9F732, 379px 1890px #E9F732, 79px 761px #E9F732, 825px 1837px #E9F732,
    1980px 1558px #E9F732, 1308px 1573px #E9F732, 1488px 1726px #E9F732,
    382px 1208px #E9F732, 522px 595px #E9F732, 1277px 1898px #E9F732, 354px 552px #E9F732,
    161px 1784px #E9F732, 614px 251px #E9F732, 526px 1576px #E9F732, 17px 212px #E9F732,
    179px 996px #E9F732, 467px 1208px #E9F732, 1944px 1838px #E9F732, 1140px 1093px #E9F732,
    858px 1007px #E9F732, 200px 1064px #E9F732, 423px 1964px #E9F732, 1945px 439px #E9F732,
    1377px 689px #E9F732, 1120px 1437px #E9F732, 1876px 668px #E9F732, 907px 1324px #E9F732,
    343px 1976px #E9F732, 1816px 1501px #E9F732, 1849px 177px #E9F732, 647px 91px #E9F732,
    1984px 1012px #E9F732, 1336px 1300px #E9F732, 128px 648px #E9F732, 305px 1060px #E9F732,
    1324px 826px #E9F732, 1263px 1314px #E9F732, 1801px 629px #E9F732, 1614px 1555px #E9F732,
    1634px 90px #E9F732, 1603px 452px #E9F732, 891px 1984px #E9F732, 1556px 1906px #E9F732,
    121px 68px #E9F732, 1676px 1714px #E9F732, 516px 936px #E9F732, 1947px 1492px #E9F732,
    1455px 1519px #E9F732, 45px 602px #E9F732, 205px 1039px #E9F732, 793px 172px #E9F732,
    1562px 1739px #E9F732, 1056px 110px #E9F732, 1512px 379px #E9F732, 1795px 1621px #E9F732,
    1848px 607px #E9F732, 262px 1719px #E9F732, 477px 991px #E9F732, 483px 883px #E9F732,
    1239px 1197px #E9F732, 1496px 647px #E9F732, 1649px 25px #E9F732, 1491px 1946px #E9F732,
    119px 996px #E9F732, 179px 1472px #E9F732, 1341px 808px #E9F732, 1565px 1700px #E9F732,
    407px 1544px #E9F732, 1754px 357px #E9F732, 1288px 981px #E9F732, 902px 1997px #E9F732,
    1755px 1668px #E9F732, 186px 877px #E9F732, 1202px 1882px #E9F732, 461px 1213px #E9F732,
    1400px 748px #E9F732, 1969px 1899px #E9F732, 809px 522px #E9F732, 514px 1219px #E9F732,
    374px 275px #E9F732, 938px 1973px #E9F732, 357px 552px #E9F732, 144px 1722px #E9F732,
    1572px 912px #E9F732, 402px 1858px #E9F732, 1544px 1195px #E9F732, 667px 1257px #E9F732,
    727px 1496px #E9F732, 993px 232px #E9F732, 1772px 313px #E9F732, 1040px 1590px #E9F732,
    1204px 1973px #E9F732, 1268px 79px #E9F732, 1555px 1048px #E9F732, 986px 1707px #E9F732,
    978px 1710px #E9F732, 713px 360px #E9F732, 407px 863px #E9F732, 461px 736px #E9F732,
    284px 1608px #E9F732, 103px 430px #E9F732, 1283px 1319px #E9F732, 977px 1186px #E9F732,
    1966px 1516px #E9F732, 1287px 1129px #E9F732, 70px 1098px #E9F732, 1189px 889px #E9F732,
    1126px 1734px #E9F732, 309px 1292px #E9F732, 879px 764px #E9F732, 65px 473px #E9F732,
    1003px 1959px #E9F732, 658px 791px #E9F732, 402px 1576px #E9F732, 35px 622px #E9F732,
    529px 1589px #E9F732, 164px 666px #E9F732, 1876px 1290px #E9F732, 1541px 526px #E9F732,
    270px 1297px #E9F732, 440px 865px #E9F732, 1500px 802px #E9F732, 182px 1754px #E9F732,
    1264px 892px #E9F732, 272px 1249px #E9F732, 1289px 1535px #E9F732, 190px 1646px #E9F732,
    955px 242px #E9F732, 1456px 1597px #E9F732, 1727px 1983px #E9F732, 635px 801px #E9F732,
    226px 455px #E9F732, 1396px 1710px #E9F732, 849px 1863px #E9F732, 237px 1264px #E9F732,
    839px 140px #E9F732, 1122px 735px #E9F732, 1280px 15px #E9F732, 1318px 242px #E9F732,
    1819px 1148px #E9F732, 333px 1392px #E9F732, 1949px 553px #E9F732, 1878px 1332px #E9F732,
    467px 548px #E9F732, 1812px 1082px #E9F732, 1067px 193px #E9F732, 243px 156px #E9F732,
    483px 1616px #E9F732, 1714px 933px #E9F732, 759px 1800px #E9F732, 1822px 995px #E9F732,
    1877px 572px #E9F732, 581px 1084px #E9F732, 107px 732px #E9F732, 642px 1837px #E9F732,
    166px 1493px #E9F732, 1555px 198px #E9F732, 819px 307px #E9F732, 947px 345px #E9F732,
    827px 224px #E9F732, 927px 1394px #E9F732, 540px 467px #E9F732, 1093px 405px #E9F732,
    1140px 927px #E9F732, 130px 529px #E9F732, 33px 1980px #E9F732, 1147px 1663px #E9F732,
    1616px 1436px #E9F732, 528px 710px #E9F732, 798px 1100px #E9F732, 505px 1480px #E9F732,
    899px 641px #E9F732, 1909px 1949px #E9F732, 1311px 964px #E9F732, 979px 1301px #E9F732,
    1393px 969px #E9F732, 1793px 1886px #E9F732, 292px 357px #E9F732, 1196px 1718px #E9F732,
    1290px 1994px #E9F732, 537px 1973px #E9F732, 1181px 1674px #E9F732,
    1740px 1566px #E9F732, 1307px 265px #E9F732, 922px 522px #E9F732, 1892px 472px #E9F732,
    384px 1746px #E9F732, 392px 1098px #E9F732, 647px 548px #E9F732, 390px 1498px #E9F732,
    1246px 138px #E9F732, 730px 876px #E9F732, 192px 1472px #E9F732, 1790px 1789px #E9F732,
    928px 311px #E9F732, 1253px 1647px #E9F732, 747px 1921px #E9F732, 1561px 1025px #E9F732,
    1533px 1292px #E9F732, 1985px 195px #E9F732, 728px 729px #E9F732, 1712px 1936px #E9F732,
    512px 1717px #E9F732, 1528px 483px #E9F732, 313px 1642px #E9F732, 281px 1849px #E9F732,
    1212px 799px #E9F732, 435px 1191px #E9F732, 1422px 611px #E9F732, 1718px 1964px #E9F732,
    411px 944px #E9F732, 210px 636px #E9F732, 1502px 1295px #E9F732, 1434px 349px #E9F732,
    769px 60px #E9F732, 747px 1053px #E9F732, 789px 504px #E9F732, 1436px 1264px #E9F732,
    1893px 1225px #E9F732, 1394px 1788px #E9F732, 1108px 1317px #E9F732,
    1673px 1395px #E9F732, 854px 1010px #E9F732, 1705px 80px #E9F732, 1858px 148px #E9F732,
    1729px 344px #E9F732, 1388px 664px #E9F732, 895px 406px #E9F732, 1479px 157px #E9F732,
    1441px 1157px #E9F732, 552px 1900px #E9F732, 516px 364px #E9F732, 1647px 189px #E9F732,
    1427px 1071px #E9F732, 785px 729px #E9F732, 1080px 1710px #E9F732, 504px 204px #E9F732,
    1177px 1622px #E9F732, 657px 34px #E9F732, 1296px 1099px #E9F732, 248px 180px #E9F732,
    1212px 1568px #E9F732, 667px 1562px #E9F732, 695px 841px #E9F732, 1608px 1247px #E9F732,
    751px 882px #E9F732, 87px 167px #E9F732, 607px 1368px #E9F732, 1363px 1203px #E9F732,
    1836px 317px #E9F732, 1668px 1703px #E9F732, 830px 1154px #E9F732, 1721px 1398px #E9F732,
    1601px 1280px #E9F732, 976px 874px #E9F732, 1743px 254px #E9F732, 1020px 1815px #E9F732,
    1670px 1766px #E9F732, 1890px 735px #E9F732, 1379px 136px #E9F732, 1864px 695px #E9F732,
    206px 965px #E9F732, 1404px 1932px #E9F732, 1923px 1360px #E9F732, 247px 682px #E9F732,
    519px 1708px #E9F732, 645px 750px #E9F732, 1164px 1204px #E9F732, 834px 323px #E9F732,
    172px 1350px #E9F732, 213px 972px #E9F732, 1837px 190px #E9F732, 285px 1806px #E9F732,
    1047px 1299px #E9F732, 1548px 825px #E9F732, 1730px 324px #E9F732, 1346px 1909px #E9F732,
    772px 270px #E9F732, 345px 1190px #E9F732, 478px 1433px #E9F732, 1479px 25px #E9F732,
    1994px 1830px #E9F732, 1744px 732px #E9F732, 20px 1635px #E9F732, 690px 1795px #E9F732,
    1594px 569px #E9F732, 579px 245px #E9F732, 1398px 733px #E9F732, 408px 1352px #E9F732,
    1774px 120px #E9F732, 1152px 1370px #E9F732, 1698px 1810px #E9F732, 710px 1450px #E9F732,
    665px 286px #E9F732, 493px 1720px #E9F732, 786px 5px #E9F732, 637px 1140px #E9F732,
    764px 324px #E9F732, 927px 310px #E9F732, 938px 1424px #E9F732, 1884px 744px #E9F732,
    913px 462px #E9F732, 1831px 1936px #E9F732, 1527px 249px #E9F732, 36px 1381px #E9F732,
    1597px 581px #E9F732, 1530px 355px #E9F732, 949px 459px #E9F732, 799px 828px #E9F732,
    242px 1471px #E9F732, 654px 797px #E9F732, 796px 594px #E9F732, 1365px 678px #E9F732,
    752px 23px #E9F732, 1630px 541px #E9F732, 982px 72px #E9F732, 1733px 1831px #E9F732,
    21px 412px #E9F732, 775px 998px #E9F732, 335px 1945px #E9F732, 264px 583px #E9F732,
    158px 1311px #E9F732, 528px 164px #E9F732, 1978px 574px #E9F732, 717px 1203px #E9F732,
    734px 1591px #E9F732, 1555px 820px #E9F732, 16px 1943px #E9F732, 1625px 1177px #E9F732,
    1236px 690px #E9F732, 1585px 1590px #E9F732, 1737px 1728px #E9F732, 721px 698px #E9F732,
    1804px 1186px #E9F732, 166px 980px #E9F732, 1850px 230px #E9F732, 330px 1712px #E9F732,
    95px 797px #E9F732, 1948px 1078px #E9F732, 469px 939px #E9F732, 1269px 1899px #E9F732,
    955px 1220px #E9F732, 1137px 1075px #E9F732, 312px 1293px #E9F732, 986px 1762px #E9F732,
    1103px 1238px #E9F732, 428px 1993px #E9F732, 355px 570px #E9F732, 977px 1836px #E9F732,
    1395px 1092px #E9F732, 276px 913px #E9F732, 1743px 656px #E9F732, 773px 502px #E9F732,
    1686px 1322px #E9F732, 1516px 1945px #E9F732, 1334px 501px #E9F732, 266px 156px #E9F732,
    455px 655px #E9F732, 798px 72px #E9F732, 1059px 1259px #E9F732, 1402px 1687px #E9F732,
    236px 1329px #E9F732, 1455px 786px #E9F732, 146px 1228px #E9F732, 1851px 823px #E9F732,
    1062px 100px #E9F732, 1220px 953px #E9F732, 20px 1826px #E9F732, 36px 1063px #E9F732,
    1525px 338px #E9F732, 790px 1521px #E9F732, 741px 1099px #E9F732, 288px 1489px #E9F732,
    700px 1060px #E9F732, 390px 1071px #E9F732, 411px 1036px #E9F732, 1853px 1072px #E9F732,
    1446px 1085px #E9F732, 1164px 874px #E9F732, 924px 925px #E9F732, 291px 271px #E9F732,
    1257px 1964px #E9F732, 1580px 1352px #E9F732, 1507px 1216px #E9F732, 211px 956px #E9F732,
    985px 1195px #E9F732, 975px 1640px #E9F732, 518px 101px #E9F732, 663px 1395px #E9F732,
    914px 532px #E9F732, 145px 1320px #E9F732, 69px 1397px #E9F732, 982px 523px #E9F732,
    257px 725px #E9F732, 1599px 831px #E9F732, 1636px 1513px #E9F732, 1250px 1158px #E9F732,
    1132px 604px #E9F732, 183px 102px #E9F732, 1057px 318px #E9F732, 1247px 1835px #E9F732,
    1983px 1110px #E9F732, 1077px 1455px #E9F732, 921px 1770px #E9F732, 806px 1350px #E9F732,
    1938px 1992px #E9F732, 855px 1260px #E9F732, 902px 1345px #E9F732, 658px 1908px #E9F732,
    1845px 679px #E9F732, 712px 1482px #E9F732, 595px 950px #E9F732, 1784px 1992px #E9F732,
    1847px 1785px #E9F732, 691px 1004px #E9F732, 175px 1179px #E9F732, 1666px 1911px #E9F732,
    41px 61px #E9F732, 971px 1080px #E9F732, 1830px 1450px #E9F732, 1351px 1518px #E9F732,
    1257px 99px #E9F732, 1395px 1498px #E9F732, 1117px 252px #E9F732, 1779px 597px #E9F732,
    1346px 729px #E9F732, 1108px 1144px #E9F732, 402px 691px #E9F732, 72px 496px #E9F732,
    1673px 1604px #E9F732, 1497px 974px #E9F732, 1865px 1664px #E9F732, 88px 806px #E9F732,
    918px 77px #E9F732, 244px 1118px #E9F732, 256px 1820px #E9F732, 1851px 1840px #E9F732,
    605px 1851px #E9F732, 634px 383px #E9F732, 865px 37px #E9F732, 943px 1024px #E9F732,
    1951px 177px #E9F732, 1097px 523px #E9F732, 985px 1700px #E9F732, 1243px 122px #E9F732,
    768px 1070px #E9F732, 468px 194px #E9F732, 320px 1867px #E9F732, 1850px 185px #E9F732,
    380px 1616px #E9F732, 468px 1294px #E9F732, 1122px 1743px #E9F732, 884px 299px #E9F732,
    1300px 1917px #E9F732, 1860px 396px #E9F732, 1270px 990px #E9F732, 529px 733px #E9F732,
    1975px 1347px #E9F732, 1885px 685px #E9F732, 226px 506px #E9F732, 651px 878px #E9F732,
    1323px 680px #E9F732, 1284px 680px #E9F732, 238px 1967px #E9F732, 911px 174px #E9F732,
    1111px 521px #E9F732, 1150px 85px #E9F732, 794px 502px #E9F732, 484px 1856px #E9F732,
    1809px 368px #E9F732, 112px 953px #E9F732, 590px 1009px #E9F732, 1655px 311px #E9F732,
    100px 1026px #E9F732, 1803px 352px #E9F732, 865px 306px #E9F732, 1077px 1019px #E9F732,
    1335px 872px #E9F732, 1647px 1298px #E9F732, 1233px 1387px #E9F732, 698px 1036px #E9F732,
    659px 1860px #E9F732, 388px 1412px #E9F732, 1212px 458px #E9F732, 755px 1468px #E9F732,
    696px 1654px #E9F732, 1144px 60px #E9F732;
}

#stars1:after {
    content: '';
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    background: transparent;

    box-shadow: 779px 1331px #E9F732, 324px 42px #E9F732, 303px 586px #E9F732,
    1312px 276px #E9F732, 451px 625px #E9F732, 521px 1931px #E9F732, 1087px 1871px #E9F732,
    36px 1546px #E9F732, 132px 934px #E9F732, 1698px 901px #E9F732, 1418px 664px #E9F732,
    1448px 1157px #E9F732, 1084px 232px #E9F732, 347px 1776px #E9F732, 1722px 243px #E9F732,
    1629px 835px #E9F732, 479px 969px #E9F732, 1231px 960px #E9F732, 586px 384px #E9F732,
    164px 527px #E9F732, 8px 646px #E9F732, 1150px 1126px #E9F732, 665px 1357px #E9F732,
    1556px 1982px #E9F732, 1260px 1961px #E9F732, 1675px 1741px #E9F732,
    1843px 1514px #E9F732, 718px 1628px #E9F732, 242px 1343px #E9F732, 1497px 1880px #E9F732,
    1364px 230px #E9F732, 1739px 1302px #E9F732, 636px 959px #E9F732, 304px 686px #E9F732,
    614px 751px #E9F732, 1935px 816px #E9F732, 1428px 60px #E9F732, 355px 335px #E9F732,
    1594px 158px #E9F732, 90px 60px #E9F732, 1553px 162px #E9F732, 1239px 1825px #E9F732,
    1945px 587px #E9F732, 749px 1785px #E9F732, 1987px 1172px #E9F732, 1301px 1237px #E9F732,
    1039px 342px #E9F732, 1585px 1481px #E9F732, 995px 1048px #E9F732, 524px 932px #E9F732,
    214px 413px #E9F732, 1701px 1300px #E9F732, 1037px 1613px #E9F732, 1871px 996px #E9F732,
    1360px 1635px #E9F732, 1110px 1313px #E9F732, 412px 1783px #E9F732, 1949px 177px #E9F732,
    903px 1854px #E9F732, 700px 1936px #E9F732, 378px 125px #E9F732, 308px 834px #E9F732,
    1118px 962px #E9F732, 1350px 1929px #E9F732, 781px 1811px #E9F732, 561px 137px #E9F732,
    757px 1148px #E9F732, 1670px 1979px #E9F732, 343px 739px #E9F732, 945px 795px #E9F732,
    576px 1903px #E9F732, 1078px 1436px #E9F732, 1583px 450px #E9F732, 1366px 474px #E9F732,
    297px 1873px #E9F732, 192px 162px #E9F732, 1624px 1633px #E9F732, 59px 453px #E9F732,
    82px 1872px #E9F732, 1933px 498px #E9F732, 1966px 1974px #E9F732, 1975px 1688px #E9F732,
    779px 314px #E9F732, 1858px 1543px #E9F732, 73px 1507px #E9F732, 1693px 975px #E9F732,
    1683px 108px #E9F732, 1768px 1654px #E9F732, 654px 14px #E9F732, 494px 171px #E9F732,
    1689px 1895px #E9F732, 1660px 263px #E9F732, 1031px 903px #E9F732, 1203px 1393px #E9F732,
    1333px 1421px #E9F732, 1113px 41px #E9F732, 1206px 1645px #E9F732, 1325px 1635px #E9F732,
    142px 388px #E9F732, 572px 215px #E9F732, 1535px 296px #E9F732, 1419px 407px #E9F732,
    1379px 1003px #E9F732, 329px 469px #E9F732, 1791px 1652px #E9F732, 935px 1802px #E9F732,
    1330px 1820px #E9F732, 421px 1933px #E9F732, 828px 365px #E9F732, 275px 316px #E9F732,
    707px 960px #E9F732, 1605px 1554px #E9F732, 625px 58px #E9F732, 717px 1697px #E9F732,
    1669px 246px #E9F732, 1925px 322px #E9F732, 1154px 1803px #E9F732, 1929px 295px #E9F732,
    1248px 240px #E9F732, 1045px 1755px #E9F732, 166px 942px #E9F732, 1888px 1773px #E9F732,
    678px 1963px #E9F732, 1370px 569px #E9F732, 1974px 1400px #E9F732, 1786px 460px #E9F732,
    51px 307px #E9F732, 784px 1400px #E9F732, 730px 1258px #E9F732, 1712px 393px #E9F732,
    416px 170px #E9F732, 1797px 1932px #E9F732, 572px 219px #E9F732, 1557px 1856px #E9F732,
    218px 8px #E9F732, 348px 1334px #E9F732, 469px 413px #E9F732, 385px 1738px #E9F732,
    1357px 1818px #E9F732, 240px 942px #E9F732, 248px 1847px #E9F732, 1535px 806px #E9F732,
    236px 1514px #E9F732, 1429px 1556px #E9F732, 73px 1633px #E9F732, 1398px 1121px #E9F732,
    671px 1301px #E9F732, 1404px 1663px #E9F732, 740px 1018px #E9F732, 1600px 377px #E9F732,
    785px 514px #E9F732, 112px 1084px #E9F732, 1915px 1887px #E9F732, 1463px 1848px #E9F732,
    687px 1115px #E9F732, 1268px 1768px #E9F732, 1729px 1425px #E9F732,
    1284px 1022px #E9F732, 801px 974px #E9F732, 1975px 1317px #E9F732, 1354px 834px #E9F732,
    1446px 1484px #E9F732, 1283px 1786px #E9F732, 11px 523px #E9F732, 1842px 236px #E9F732,
    1355px 654px #E9F732, 429px 7px #E9F732, 1033px 1128px #E9F732, 157px 297px #E9F732,
    545px 635px #E9F732, 52px 1080px #E9F732, 827px 1520px #E9F732, 1121px 490px #E9F732,
    9px 309px #E9F732, 1744px 1586px #E9F732, 1014px 417px #E9F732, 1534px 524px #E9F732,
    958px 552px #E9F732, 1403px 1496px #E9F732, 387px 703px #E9F732, 1522px 548px #E9F732,
    1355px 282px #E9F732, 1532px 601px #E9F732, 1838px 790px #E9F732, 290px 259px #E9F732,
    295px 598px #E9F732, 1601px 539px #E9F732, 1561px 1272px #E9F732, 34px 1922px #E9F732,
    1024px 543px #E9F732, 467px 369px #E9F732, 722px 333px #E9F732, 1976px 1255px #E9F732,
    766px 983px #E9F732, 1582px 1285px #E9F732, 12px 512px #E9F732, 617px 1410px #E9F732,
    682px 577px #E9F732, 1334px 1438px #E9F732, 439px 327px #E9F732, 1617px 1661px #E9F732,
    673px 129px #E9F732, 794px 941px #E9F732, 1386px 1902px #E9F732, 37px 1353px #E9F732,
    1467px 1353px #E9F732, 416px 18px #E9F732, 187px 344px #E9F732, 200px 1898px #E9F732,
    1491px 1619px #E9F732, 811px 347px #E9F732, 924px 1827px #E9F732, 945px 217px #E9F732,
    1735px 1228px #E9F732, 379px 1890px #E9F732, 79px 761px #E9F732, 825px 1837px #E9F732,
    1980px 1558px #E9F732, 1308px 1573px #E9F732, 1488px 1726px #E9F732,
    382px 1208px #E9F732, 522px 595px #E9F732, 1277px 1898px #E9F732, 354px 552px #E9F732,
    161px 1784px #E9F732, 614px 251px #E9F732, 526px 1576px #E9F732, 17px 212px #E9F732,
    179px 996px #E9F732, 467px 1208px #E9F732, 1944px 1838px #E9F732, 1140px 1093px #E9F732,
    858px 1007px #E9F732, 200px 1064px #E9F732, 423px 1964px #E9F732, 1945px 439px #E9F732,
    1377px 689px #E9F732, 1120px 1437px #E9F732, 1876px 668px #E9F732, 907px 1324px #E9F732,
    343px 1976px #E9F732, 1816px 1501px #E9F732, 1849px 177px #E9F732, 647px 91px #E9F732,
    1984px 1012px #E9F732, 1336px 1300px #E9F732, 128px 648px #E9F732, 305px 1060px #E9F732,
    1324px 826px #E9F732, 1263px 1314px #E9F732, 1801px 629px #E9F732, 1614px 1555px #E9F732,
    1634px 90px #E9F732, 1603px 452px #E9F732, 891px 1984px #E9F732, 1556px 1906px #E9F732,
    121px 68px #E9F732, 1676px 1714px #E9F732, 516px 936px #E9F732, 1947px 1492px #E9F732,
    1455px 1519px #E9F732, 45px 602px #E9F732, 205px 1039px #E9F732, 793px 172px #E9F732,
    1562px 1739px #E9F732, 1056px 110px #E9F732, 1512px 379px #E9F732, 1795px 1621px #E9F732,
    1848px 607px #E9F732, 262px 1719px #E9F732, 477px 991px #E9F732, 483px 883px #E9F732,
    1239px 1197px #E9F732, 1496px 647px #E9F732, 1649px 25px #E9F732, 1491px 1946px #E9F732,
    119px 996px #E9F732, 179px 1472px #E9F732, 1341px 808px #E9F732, 1565px 1700px #E9F732,
    407px 1544px #E9F732, 1754px 357px #E9F732, 1288px 981px #E9F732, 902px 1997px #E9F732,
    1755px 1668px #E9F732, 186px 877px #E9F732, 1202px 1882px #E9F732, 461px 1213px #E9F732,
    1400px 748px #E9F732, 1969px 1899px #E9F732, 809px 522px #E9F732, 514px 1219px #E9F732,
    374px 275px #E9F732, 938px 1973px #E9F732, 357px 552px #E9F732, 144px 1722px #E9F732,
    1572px 912px #E9F732, 402px 1858px #E9F732, 1544px 1195px #E9F732, 667px 1257px #E9F732,
    727px 1496px #E9F732, 993px 232px #E9F732, 1772px 313px #E9F732, 1040px 1590px #E9F732,
    1204px 1973px #E9F732, 1268px 79px #E9F732, 1555px 1048px #E9F732, 986px 1707px #E9F732,
    978px 1710px #E9F732, 713px 360px #E9F732, 407px 863px #E9F732, 461px 736px #E9F732,
    284px 1608px #E9F732, 103px 430px #E9F732, 1283px 1319px #E9F732, 977px 1186px #E9F732,
    1966px 1516px #E9F732, 1287px 1129px #E9F732, 70px 1098px #E9F732, 1189px 889px #E9F732,
    1126px 1734px #E9F732, 309px 1292px #E9F732, 879px 764px #E9F732, 65px 473px #E9F732,
    1003px 1959px #E9F732, 658px 791px #E9F732, 402px 1576px #E9F732, 35px 622px #E9F732,
    529px 1589px #E9F732, 164px 666px #E9F732, 1876px 1290px #E9F732, 1541px 526px #E9F732,
    270px 1297px #E9F732, 440px 865px #E9F732, 1500px 802px #E9F732, 182px 1754px #E9F732,
    1264px 892px #E9F732, 272px 1249px #E9F732, 1289px 1535px #E9F732, 190px 1646px #E9F732,
    955px 242px #E9F732, 1456px 1597px #E9F732, 1727px 1983px #E9F732, 635px 801px #E9F732,
    226px 455px #E9F732, 1396px 1710px #E9F732, 849px 1863px #E9F732, 237px 1264px #E9F732,
    839px 140px #E9F732, 1122px 735px #E9F732, 1280px 15px #E9F732, 1318px 242px #E9F732,
    1819px 1148px #E9F732, 333px 1392px #E9F732, 1949px 553px #E9F732, 1878px 1332px #E9F732,
    467px 548px #E9F732, 1812px 1082px #E9F732, 1067px 193px #E9F732, 243px 156px #E9F732,
    483px 1616px #E9F732, 1714px 933px #E9F732, 759px 1800px #E9F732, 1822px 995px #E9F732,
    1877px 572px #E9F732, 581px 1084px #E9F732, 107px 732px #E9F732, 642px 1837px #E9F732,
    166px 1493px #E9F732, 1555px 198px #E9F732, 819px 307px #E9F732, 947px 345px #E9F732,
    827px 224px #E9F732, 927px 1394px #E9F732, 540px 467px #E9F732, 1093px 405px #E9F732,
    1140px 927px #E9F732, 130px 529px #E9F732, 33px 1980px #E9F732, 1147px 1663px #E9F732,
    1616px 1436px #E9F732, 528px 710px #E9F732, 798px 1100px #E9F732, 505px 1480px #E9F732,
    899px 641px #E9F732, 1909px 1949px #E9F732, 1311px 964px #E9F732, 979px 1301px #E9F732,
    1393px 969px #E9F732, 1793px 1886px #E9F732, 292px 357px #E9F732, 1196px 1718px #E9F732,
    1290px 1994px #E9F732, 537px 1973px #E9F732, 1181px 1674px #E9F732,
    1740px 1566px #E9F732, 1307px 265px #E9F732, 922px 522px #E9F732, 1892px 472px #E9F732,
    384px 1746px #E9F732, 392px 1098px #E9F732, 647px 548px #E9F732, 390px 1498px #E9F732,
    1246px 138px #E9F732, 730px 876px #E9F732, 192px 1472px #E9F732, 1790px 1789px #E9F732,
    928px 311px #E9F732, 1253px 1647px #E9F732, 747px 1921px #E9F732, 1561px 1025px #E9F732,
    1533px 1292px #E9F732, 1985px 195px #E9F732, 728px 729px #E9F732, 1712px 1936px #E9F732,
    512px 1717px #E9F732, 1528px 483px #E9F732, 313px 1642px #E9F732, 281px 1849px #E9F732,
    1212px 799px #E9F732, 435px 1191px #E9F732, 1422px 611px #E9F732, 1718px 1964px #E9F732,
    411px 944px #E9F732, 210px 636px #E9F732, 1502px 1295px #E9F732, 1434px 349px #E9F732,
    769px 60px #E9F732, 747px 1053px #E9F732, 789px 504px #E9F732, 1436px 1264px #E9F732,
    1893px 1225px #E9F732, 1394px 1788px #E9F732, 1108px 1317px #E9F732,
    1673px 1395px #E9F732, 854px 1010px #E9F732, 1705px 80px #E9F732, 1858px 148px #E9F732,
    1729px 344px #E9F732, 1388px 664px #E9F732, 895px 406px #E9F732, 1479px 157px #E9F732,
    1441px 1157px #E9F732, 552px 1900px #E9F732, 516px 364px #E9F732, 1647px 189px #E9F732,
    1427px 1071px #E9F732, 785px 729px #E9F732, 1080px 1710px #E9F732, 504px 204px #E9F732,
    1177px 1622px #E9F732, 657px 34px #E9F732, 1296px 1099px #E9F732, 248px 180px #E9F732,
    1212px 1568px #E9F732, 667px 1562px #E9F732, 695px 841px #E9F732, 1608px 1247px #E9F732,
    751px 882px #E9F732, 87px 167px #E9F732, 607px 1368px #E9F732, 1363px 1203px #E9F732,
    1836px 317px #E9F732, 1668px 1703px #E9F732, 830px 1154px #E9F732, 1721px 1398px #E9F732,
    1601px 1280px #E9F732, 976px 874px #E9F732, 1743px 254px #E9F732, 1020px 1815px #E9F732,
    1670px 1766px #E9F732, 1890px 735px #E9F732, 1379px 136px #E9F732, 1864px 695px #E9F732,
    206px 965px #E9F732, 1404px 1932px #E9F732, 1923px 1360px #E9F732, 247px 682px #E9F732,
    519px 1708px #E9F732, 645px 750px #E9F732, 1164px 1204px #E9F732, 834px 323px #E9F732,
    172px 1350px #E9F732, 213px 972px #E9F732, 1837px 190px #E9F732, 285px 1806px #E9F732,
    1047px 1299px #E9F732, 1548px 825px #E9F732, 1730px 324px #E9F732, 1346px 1909px #E9F732,
    772px 270px #E9F732, 345px 1190px #E9F732, 478px 1433px #E9F732, 1479px 25px #E9F732,
    1994px 1830px #E9F732, 1744px 732px #E9F732, 20px 1635px #E9F732, 690px 1795px #E9F732,
    1594px 569px #E9F732, 579px 245px #E9F732, 1398px 733px #E9F732, 408px 1352px #E9F732,
    1774px 120px #E9F732, 1152px 1370px #E9F732, 1698px 1810px #E9F732, 710px 1450px #E9F732,
    665px 286px #E9F732, 493px 1720px #E9F732, 786px 5px #E9F732, 637px 1140px #E9F732,
    764px 324px #E9F732, 927px 310px #E9F732, 938px 1424px #E9F732, 1884px 744px #E9F732,
    913px 462px #E9F732, 1831px 1936px #E9F732, 1527px 249px #E9F732, 36px 1381px #E9F732,
    1597px 581px #E9F732, 1530px 355px #E9F732, 949px 459px #E9F732, 799px 828px #E9F732,
    242px 1471px #E9F732, 654px 797px #E9F732, 796px 594px #E9F732, 1365px 678px #E9F732,
    752px 23px #E9F732, 1630px 541px #E9F732, 982px 72px #E9F732, 1733px 1831px #E9F732,
    21px 412px #E9F732, 775px 998px #E9F732, 335px 1945px #E9F732, 264px 583px #E9F732,
    158px 1311px #E9F732, 528px 164px #E9F732, 1978px 574px #E9F732, 717px 1203px #E9F732,
    734px 1591px #E9F732, 1555px 820px #E9F732, 16px 1943px #E9F732, 1625px 1177px #E9F732,
    1236px 690px #E9F732, 1585px 1590px #E9F732, 1737px 1728px #E9F732, 721px 698px #E9F732,
    1804px 1186px #E9F732, 166px 980px #E9F732, 1850px 230px #E9F732, 330px 1712px #E9F732,
    95px 797px #E9F732, 1948px 1078px #E9F732, 469px 939px #E9F732, 1269px 1899px #E9F732,
    955px 1220px #E9F732, 1137px 1075px #E9F732, 312px 1293px #E9F732, 986px 1762px #E9F732,
    1103px 1238px #E9F732, 428px 1993px #E9F732, 355px 570px #E9F732, 977px 1836px #E9F732,
    1395px 1092px #E9F732, 276px 913px #E9F732, 1743px 656px #E9F732, 773px 502px #E9F732,
    1686px 1322px #E9F732, 1516px 1945px #E9F732, 1334px 501px #E9F732, 266px 156px #E9F732,
    455px 655px #E9F732, 798px 72px #E9F732, 1059px 1259px #E9F732, 1402px 1687px #E9F732,
    236px 1329px #E9F732, 1455px 786px #E9F732, 146px 1228px #E9F732, 1851px 823px #E9F732,
    1062px 100px #E9F732, 1220px 953px #E9F732, 20px 1826px #E9F732, 36px 1063px #E9F732,
    1525px 338px #E9F732, 790px 1521px #E9F732, 741px 1099px #E9F732, 288px 1489px #E9F732,
    700px 1060px #E9F732, 390px 1071px #E9F732, 411px 1036px #E9F732, 1853px 1072px #E9F732,
    1446px 1085px #E9F732, 1164px 874px #E9F732, 924px 925px #E9F732, 291px 271px #E9F732,
    1257px 1964px #E9F732, 1580px 1352px #E9F732, 1507px 1216px #E9F732, 211px 956px #E9F732,
    985px 1195px #E9F732, 975px 1640px #E9F732, 518px 101px #E9F732, 663px 1395px #E9F732,
    914px 532px #E9F732, 145px 1320px #E9F732, 69px 1397px #E9F732, 982px 523px #E9F732,
    257px 725px #E9F732, 1599px 831px #E9F732, 1636px 1513px #E9F732, 1250px 1158px #E9F732,
    1132px 604px #E9F732, 183px 102px #E9F732, 1057px 318px #E9F732, 1247px 1835px #E9F732,
    1983px 1110px #E9F732, 1077px 1455px #E9F732, 921px 1770px #E9F732, 806px 1350px #E9F732,
    1938px 1992px #E9F732, 855px 1260px #E9F732, 902px 1345px #E9F732, 658px 1908px #E9F732,
    1845px 679px #E9F732, 712px 1482px #E9F732, 595px 950px #E9F732, 1784px 1992px #E9F732,
    1847px 1785px #E9F732, 691px 1004px #E9F732, 175px 1179px #E9F732, 1666px 1911px #E9F732,
    41px 61px #E9F732, 971px 1080px #E9F732, 1830px 1450px #E9F732, 1351px 1518px #E9F732,
    1257px 99px #E9F732, 1395px 1498px #E9F732, 1117px 252px #E9F732, 1779px 597px #E9F732,
    1346px 729px #E9F732, 1108px 1144px #E9F732, 402px 691px #E9F732, 72px 496px #E9F732,
    1673px 1604px #E9F732, 1497px 974px #E9F732, 1865px 1664px #E9F732, 88px 806px #E9F732,
    918px 77px #E9F732, 244px 1118px #E9F732, 256px 1820px #E9F732, 1851px 1840px #E9F732,
    605px 1851px #E9F732, 634px 383px #E9F732, 865px 37px #E9F732, 943px 1024px #E9F732,
    1951px 177px #E9F732, 1097px 523px #E9F732, 985px 1700px #E9F732, 1243px 122px #E9F732,
    768px 1070px #E9F732, 468px 194px #E9F732, 320px 1867px #E9F732, 1850px 185px #E9F732,
    380px 1616px #E9F732, 468px 1294px #E9F732, 1122px 1743px #E9F732, 884px 299px #E9F732,
    1300px 1917px #E9F732, 1860px 396px #E9F732, 1270px 990px #E9F732, 529px 733px #E9F732,
    1975px 1347px #E9F732, 1885px 685px #E9F732, 226px 506px #E9F732, 651px 878px #E9F732,
    1323px 680px #E9F732, 1284px 680px #E9F732, 238px 1967px #E9F732, 911px 174px #E9F732,
    1111px 521px #E9F732, 1150px 85px #E9F732, 794px 502px #E9F732, 484px 1856px #E9F732,
    1809px 368px #E9F732, 112px 953px #E9F732, 590px 1009px #E9F732, 1655px 311px #E9F732,
    100px 1026px #E9F732, 1803px 352px #E9F732, 865px 306px #E9F732, 1077px 1019px #E9F732,
    1335px 872px #E9F732, 1647px 1298px #E9F732, 1233px 1387px #E9F732, 698px 1036px #E9F732,
    659px 1860px #E9F732, 388px 1412px #E9F732, 1212px 458px #E9F732, 755px 1468px #E9F732,
    696px 1654px #E9F732, 1144px 60px #E9F732;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 180s linear infinite;

    box-shadow: 1448px 320px #E9F732, 1775px 1663px #E9F732, 332px 1364px #E9F732,
    878px 340px #E9F732, 569px 1832px #E9F732, 1422px 1684px #E9F732, 1946px 1907px #E9F732,
    121px 979px #E9F732, 1044px 1069px #E9F732, 463px 381px #E9F732, 423px 112px #E9F732,
    523px 1179px #E9F732, 779px 654px #E9F732, 1398px 694px #E9F732, 1085px 1464px #E9F732,
    1599px 1869px #E9F732, 801px 1882px #E9F732, 779px 1231px #E9F732, 552px 932px #E9F732,
    1057px 1196px #E9F732, 282px 1280px #E9F732, 496px 1986px #E9F732, 1833px 1120px #E9F732,
    1802px 1293px #E9F732, 6px 1696px #E9F732, 412px 1902px #E9F732, 605px 438px #E9F732,
    24px 1212px #E9F732, 234px 1320px #E9F732, 544px 344px #E9F732, 1107px 170px #E9F732,
    1603px 196px #E9F732, 905px 648px #E9F732, 68px 1458px #E9F732, 649px 1969px #E9F732,
    744px 675px #E9F732, 1127px 478px #E9F732, 714px 1814px #E9F732, 1486px 526px #E9F732,
    270px 1636px #E9F732, 1931px 149px #E9F732, 1807px 378px #E9F732, 8px 390px #E9F732,
    1415px 699px #E9F732, 1473px 1211px #E9F732, 1590px 141px #E9F732, 270px 1705px #E9F732,
    69px 1423px #E9F732, 1108px 1053px #E9F732, 1946px 128px #E9F732, 371px 371px #E9F732,
    1490px 220px #E9F732, 357px 1885px #E9F732, 363px 363px #E9F732, 1896px 1256px #E9F732,
    1979px 1050px #E9F732, 947px 1342px #E9F732, 1754px 242px #E9F732, 514px 974px #E9F732,
    65px 1477px #E9F732, 1840px 547px #E9F732, 950px 695px #E9F732, 459px 1150px #E9F732,
    1124px 1502px #E9F732, 481px 940px #E9F732, 680px 839px #E9F732, 797px 1169px #E9F732,
    1977px 1491px #E9F732, 734px 1724px #E9F732, 210px 298px #E9F732, 816px 628px #E9F732,
    686px 770px #E9F732, 1721px 267px #E9F732, 1663px 511px #E9F732, 1481px 1141px #E9F732,
    582px 248px #E9F732, 1308px 953px #E9F732, 628px 657px #E9F732, 897px 1535px #E9F732,
    270px 931px #E9F732, 791px 467px #E9F732, 1336px 1732px #E9F732, 1013px 1653px #E9F732,
    1911px 956px #E9F732, 587px 816px #E9F732, 83px 456px #E9F732, 930px 1478px #E9F732,
    1587px 1694px #E9F732, 614px 1200px #E9F732, 302px 1782px #E9F732, 1711px 1432px #E9F732,
    443px 904px #E9F732, 1666px 714px #E9F732, 1588px 1167px #E9F732, 273px 1075px #E9F732,
    1679px 461px #E9F732, 721px 664px #E9F732, 1202px 10px #E9F732, 166px 1126px #E9F732,
    331px 1628px #E9F732, 430px 1565px #E9F732, 1585px 509px #E9F732, 640px 38px #E9F732,
    822px 837px #E9F732, 1760px 1664px #E9F732, 1122px 1458px #E9F732, 398px 131px #E9F732,
    689px 285px #E9F732, 460px 652px #E9F732, 1627px 365px #E9F732, 348px 1648px #E9F732,
    819px 1946px #E9F732, 981px 1917px #E9F732, 323px 76px #E9F732, 979px 684px #E9F732,
    887px 536px #E9F732, 1348px 1596px #E9F732, 1055px 666px #E9F732, 1402px 1797px #E9F732,
    1300px 1055px #E9F732, 937px 238px #E9F732, 1474px 1815px #E9F732, 1144px 1710px #E9F732,
    1629px 1087px #E9F732, 911px 919px #E9F732, 771px 819px #E9F732, 403px 720px #E9F732,
    163px 736px #E9F732, 1062px 238px #E9F732, 1774px 818px #E9F732, 1874px 1178px #E9F732,
    1177px 699px #E9F732, 1244px 1244px #E9F732, 1371px 58px #E9F732, 564px 1515px #E9F732,
    1824px 487px #E9F732, 929px 702px #E9F732, 394px 1348px #E9F732, 1161px 641px #E9F732,
    219px 1841px #E9F732, 358px 941px #E9F732, 140px 1759px #E9F732, 1019px 1345px #E9F732,
    274px 436px #E9F732, 1433px 1605px #E9F732, 1798px 1426px #E9F732, 294px 1848px #E9F732,
    1681px 1877px #E9F732, 1344px 1824px #E9F732, 1439px 1632px #E9F732,
    161px 1012px #E9F732, 1308px 588px #E9F732, 1789px 582px #E9F732, 721px 1910px #E9F732,
    318px 218px #E9F732, 607px 319px #E9F732, 495px 535px #E9F732, 1552px 1575px #E9F732,
    1562px 67px #E9F732, 403px 926px #E9F732, 1096px 1800px #E9F732, 1814px 1709px #E9F732,
    1882px 1831px #E9F732, 533px 46px #E9F732, 823px 969px #E9F732, 530px 165px #E9F732,
    1030px 352px #E9F732, 1681px 313px #E9F732, 338px 115px #E9F732, 1607px 211px #E9F732,
    1718px 1184px #E9F732, 1589px 659px #E9F732, 278px 355px #E9F732, 464px 1464px #E9F732,
    1165px 277px #E9F732, 950px 694px #E9F732, 1746px 293px #E9F732, 793px 911px #E9F732,
    528px 773px #E9F732, 1883px 1694px #E9F732, 748px 182px #E9F732, 1924px 1531px #E9F732,
    100px 636px #E9F732, 1473px 1445px #E9F732, 1264px 1244px #E9F732, 850px 1377px #E9F732,
    987px 1976px #E9F732, 933px 1761px #E9F732, 922px 1270px #E9F732, 500px 396px #E9F732,
    1324px 8px #E9F732, 1967px 1814px #E9F732, 1072px 1401px #E9F732, 961px 37px #E9F732,
    156px 81px #E9F732, 1915px 502px #E9F732, 1076px 1846px #E9F732, 152px 1669px #E9F732,
    986px 1529px #E9F732, 1667px 1137px #E9F732;
}

#stars2:after {
    content: '';
    position: absolute;
    top: auto;
    width: 2px;
    height: 2px;
    background: transparent;

    box-shadow: 1448px 320px #E9F732, 1775px 1663px #E9F732, 332px 1364px #E9F732,
    878px 340px #E9F732, 569px 1832px #E9F732, 1422px 1684px #E9F732, 1946px 1907px #E9F732,
    121px 979px #E9F732, 1044px 1069px #E9F732, 463px 381px #E9F732, 423px 112px #E9F732,
    523px 1179px #E9F732, 779px 654px #E9F732, 1398px 694px #E9F732, 1085px 1464px #E9F732,
    1599px 1869px #E9F732, 801px 1882px #E9F732, 779px 1231px #E9F732, 552px 932px #E9F732,
    1057px 1196px #E9F732, 282px 1280px #E9F732, 496px 1986px #E9F732, 1833px 1120px #E9F732,
    1802px 1293px #E9F732, 6px 1696px #E9F732, 412px 1902px #E9F732, 605px 438px #E9F732,
    24px 1212px #E9F732, 234px 1320px #E9F732, 544px 344px #E9F732, 1107px 170px #E9F732,
    1603px 196px #E9F732, 905px 648px #E9F732, 68px 1458px #E9F732, 649px 1969px #E9F732,
    744px 675px #E9F732, 1127px 478px #E9F732, 714px 1814px #E9F732, 1486px 526px #E9F732,
    270px 1636px #E9F732, 1931px 149px #E9F732, 1807px 378px #E9F732, 8px 390px #E9F732,
    1415px 699px #E9F732, 1473px 1211px #E9F732, 1590px 141px #E9F732, 270px 1705px #E9F732,
    69px 1423px #E9F732, 1108px 1053px #E9F732, 1946px 128px #E9F732, 371px 371px #E9F732,
    1490px 220px #E9F732, 357px 1885px #E9F732, 363px 363px #E9F732, 1896px 1256px #E9F732,
    1979px 1050px #E9F732, 947px 1342px #E9F732, 1754px 242px #E9F732, 514px 974px #E9F732,
    65px 1477px #E9F732, 1840px 547px #E9F732, 950px 695px #E9F732, 459px 1150px #E9F732,
    1124px 1502px #E9F732, 481px 940px #E9F732, 680px 839px #E9F732, 797px 1169px #E9F732,
    1977px 1491px #E9F732, 734px 1724px #E9F732, 210px 298px #E9F732, 816px 628px #E9F732,
    686px 770px #E9F732, 1721px 267px #E9F732, 1663px 511px #E9F732, 1481px 1141px #E9F732,
    582px 248px #E9F732, 1308px 953px #E9F732, 628px 657px #E9F732, 897px 1535px #E9F732,
    270px 931px #E9F732, 791px 467px #E9F732, 1336px 1732px #E9F732, 1013px 1653px #E9F732,
    1911px 956px #E9F732, 587px 816px #E9F732, 83px 456px #E9F732, 930px 1478px #E9F732,
    1587px 1694px #E9F732, 614px 1200px #E9F732, 302px 1782px #E9F732, 1711px 1432px #E9F732,
    443px 904px #E9F732, 1666px 714px #E9F732, 1588px 1167px #E9F732, 273px 1075px #E9F732,
    1679px 461px #E9F732, 721px 664px #E9F732, 1202px 10px #E9F732, 166px 1126px #E9F732,
    331px 1628px #E9F732, 430px 1565px #E9F732, 1585px 509px #E9F732, 640px 38px #E9F732,
    822px 837px #E9F732, 1760px 1664px #E9F732, 1122px 1458px #E9F732, 398px 131px #E9F732,
    689px 285px #E9F732, 460px 652px #E9F732, 1627px 365px #E9F732, 348px 1648px #E9F732,
    819px 1946px #E9F732, 981px 1917px #E9F732, 323px 76px #E9F732, 979px 684px #E9F732,
    887px 536px #E9F732, 1348px 1596px #E9F732, 1055px 666px #E9F732, 1402px 1797px #E9F732,
    1300px 1055px #E9F732, 937px 238px #E9F732, 1474px 1815px #E9F732, 1144px 1710px #E9F732,
    1629px 1087px #E9F732, 911px 919px #E9F732, 771px 819px #E9F732, 403px 720px #E9F732,
    163px 736px #E9F732, 1062px 238px #E9F732, 1774px 818px #E9F732, 1874px 1178px #E9F732,
    1177px 699px #E9F732, 1244px 1244px #E9F732, 1371px 58px #E9F732, 564px 1515px #E9F732,
    1824px 487px #E9F732, 929px 702px #E9F732, 394px 1348px #E9F732, 1161px 641px #E9F732,
    219px 1841px #E9F732, 358px 941px #E9F732, 140px 1759px #E9F732, 1019px 1345px #E9F732,
    274px 436px #E9F732, 1433px 1605px #E9F732, 1798px 1426px #E9F732, 294px 1848px #E9F732,
    1681px 1877px #E9F732, 1344px 1824px #E9F732, 1439px 1632px #E9F732,
    161px 1012px #E9F732, 1308px 588px #E9F732, 1789px 582px #E9F732, 721px 1910px #E9F732,
    318px 218px #E9F732, 607px 319px #E9F732, 495px 535px #E9F732, 1552px 1575px #E9F732,
    1562px 67px #E9F732, 403px 926px #E9F732, 1096px 1800px #E9F732, 1814px 1709px #E9F732,
    1882px 1831px #E9F732, 533px 46px #E9F732, 823px 969px #E9F732, 530px 165px #E9F732,
    1030px 352px #E9F732, 1681px 313px #E9F732, 338px 115px #E9F732, 1607px 211px #E9F732,
    1718px 1184px #E9F732, 1589px 659px #E9F732, 278px 355px #E9F732, 464px 1464px #E9F732,
    1165px 277px #E9F732, 950px 694px #E9F732, 1746px 293px #E9F732, 793px 911px #E9F732,
    528px 773px #E9F732, 1883px 1694px #E9F732, 748px 182px #E9F732, 1924px 1531px #E9F732,
    100px 636px #E9F732, 1473px 1445px #E9F732, 1264px 1244px #E9F732, 850px 1377px #E9F732,
    987px 1976px #E9F732, 933px 1761px #E9F732, 922px 1270px #E9F732, 500px 396px #E9F732,
    1324px 8px #E9F732, 1967px 1814px #E9F732, 1072px 1401px #E9F732, 961px 37px #E9F732,
    156px 81px #E9F732, 1915px 502px #E9F732, 1076px 1846px #E9F732, 152px 1669px #E9F732,
    986px 1529px #E9F732, 1667px 1137px #E9F732;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 240s linear infinite;

    box-shadow: 387px 1878px #E9F732, 760px 1564px #E9F732, 1487px 999px #E9F732,
    948px 1828px #E9F732, 1977px 1001px #E9F732, 1284px 1963px #E9F732, 656px 284px #E9F732,
    1268px 1635px #E9F732, 1820px 598px #E9F732, 642px 1900px #E9F732, 296px 57px #E9F732,
    921px 1620px #E9F732, 476px 1858px #E9F732, 658px 613px #E9F732, 1171px 1363px #E9F732,
    1419px 283px #E9F732, 1037px 731px #E9F732, 503px 663px #E9F732, 1562px 463px #E9F732,
    383px 1197px #E9F732, 1171px 1233px #E9F732, 876px 1768px #E9F732, 856px 1615px #E9F732,
    1375px 1924px #E9F732, 1725px 918px #E9F732, 952px 119px #E9F732, 768px 1212px #E9F732,
    992px 1462px #E9F732, 1929px 717px #E9F732, 1947px 755px #E9F732, 1818px 1123px #E9F732,
    1896px 1672px #E9F732, 460px 198px #E9F732, 256px 271px #E9F732, 752px 544px #E9F732,
    1222px 1859px #E9F732, 1851px 443px #E9F732, 313px 1858px #E9F732, 709px 446px #E9F732,
    1546px 697px #E9F732, 674px 1155px #E9F732, 1112px 130px #E9F732, 355px 1790px #E9F732,
    1496px 974px #E9F732, 1696px 480px #E9F732, 1316px 1265px #E9F732, 1645px 1063px #E9F732,
    1182px 237px #E9F732, 427px 1582px #E9F732, 859px 253px #E9F732, 458px 939px #E9F732,
    1517px 1644px #E9F732, 1943px 60px #E9F732, 212px 1650px #E9F732, 966px 1786px #E9F732,
    473px 712px #E9F732, 130px 76px #E9F732, 1417px 1186px #E9F732, 909px 1580px #E9F732,
    1913px 762px #E9F732, 204px 1143px #E9F732, 1998px 1057px #E9F732, 1468px 1301px #E9F732,
    144px 1676px #E9F732, 21px 1601px #E9F732, 382px 1362px #E9F732, 912px 753px #E9F732,
    1488px 1405px #E9F732, 802px 156px #E9F732, 174px 550px #E9F732, 338px 1366px #E9F732,
    1197px 774px #E9F732, 602px 486px #E9F732, 682px 1877px #E9F732, 348px 1503px #E9F732,
    407px 1139px #E9F732, 950px 1400px #E9F732, 922px 1139px #E9F732, 1697px 293px #E9F732,
    1238px 1281px #E9F732, 1038px 1197px #E9F732, 376px 1889px #E9F732,
    1255px 1680px #E9F732, 1008px 1316px #E9F732, 1538px 1447px #E9F732,
    1186px 874px #E9F732, 1967px 640px #E9F732, 1341px 19px #E9F732, 29px 1732px #E9F732,
    16px 1650px #E9F732, 1021px 1075px #E9F732, 723px 424px #E9F732, 1175px 41px #E9F732,
    494px 1957px #E9F732, 1296px 431px #E9F732, 175px 1507px #E9F732, 831px 121px #E9F732,
    498px 1947px #E9F732, 617px 880px #E9F732, 240px 403px #E9F732;
}

#stars3:after {
    content: '';
    position: absolute;
    top: auto;
    width: 3px;
    height: 3px;
    background: transparent;

    box-shadow: 387px 1878px #E9F732, 760px 1564px #E9F732, 1487px 999px #E9F732,
    948px 1828px #E9F732, 1977px 1001px #E9F732, 1284px 1963px #E9F732, 656px 284px #E9F732,
    1268px 1635px #E9F732, 1820px 598px #E9F732, 642px 1900px #E9F732, 296px 57px #E9F732,
    921px 1620px #E9F732, 476px 1858px #E9F732, 658px 613px #E9F732, 1171px 1363px #E9F732,
    1419px 283px #E9F732, 1037px 731px #E9F732, 503px 663px #E9F732, 1562px 463px #E9F732,
    383px 1197px #E9F732, 1171px 1233px #E9F732, 876px 1768px #E9F732, 856px 1615px #E9F732,
    1375px 1924px #E9F732, 1725px 918px #E9F732, 952px 119px #E9F732, 768px 1212px #E9F732,
    992px 1462px #E9F732, 1929px 717px #E9F732, 1947px 755px #E9F732, 1818px 1123px #E9F732,
    1896px 1672px #E9F732, 460px 198px #E9F732, 256px 271px #E9F732, 752px 544px #E9F732,
    1222px 1859px #E9F732, 1851px 443px #E9F732, 313px 1858px #E9F732, 709px 446px #E9F732,
    1546px 697px #E9F732, 674px 1155px #E9F732, 1112px 130px #E9F732, 355px 1790px #E9F732,
    1496px 974px #E9F732, 1696px 480px #E9F732, 1316px 1265px #E9F732, 1645px 1063px #E9F732,
    1182px 237px #E9F732, 427px 1582px #E9F732, 859px 253px #E9F732, 458px 939px #E9F732,
    1517px 1644px #E9F732, 1943px 60px #E9F732, 212px 1650px #E9F732, 966px 1786px #E9F732,
    473px 712px #E9F732, 130px 76px #E9F732, 1417px 1186px #E9F732, 909px 1580px #E9F732,
    1913px 762px #E9F732, 204px 1143px #E9F732, 1998px 1057px #E9F732, 1468px 1301px #E9F732,
    144px 1676px #E9F732, 21px 1601px #E9F732, 382px 1362px #E9F732, 912px 753px #E9F732,
    1488px 1405px #E9F732, 802px 156px #E9F732, 174px 550px #E9F732, 338px 1366px #E9F732,
    1197px 774px #E9F732, 602px 486px #E9F732, 682px 1877px #E9F732, 348px 1503px #E9F732,
    407px 1139px #E9F732, 950px 1400px #E9F732, 922px 1139px #E9F732, 1697px 293px #E9F732,
    1238px 1281px #E9F732, 1038px 1197px #E9F732, 376px 1889px #E9F732,
    1255px 1680px #E9F732, 1008px 1316px #E9F732, 1538px 1447px #E9F732,
    1186px 874px #E9F732, 1967px 640px #E9F732, 1341px 19px #E9F732, 29px 1732px #E9F732,
    16px 1650px #E9F732, 1021px 1075px #E9F732, 723px 424px #E9F732, 1175px 41px #E9F732,
    494px 1957px #E9F732, 1296px 431px #E9F732, 175px 1507px #E9F732, 831px 121px #E9F732,
    498px 1947px #E9F732, 617px 880px #E9F732, 240px 403px #E9F732;
}

#text-wrapper {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

.text-wrapper {
    position: relative;
    background-color: transparent;
    color: var(--accentColor);
    border: solid var(--accentColor) 2px;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px; /* 17px */
    text-decoration: none;
    /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
    -webkit-tap-highlight-color: transparent;
    width: 200px; /* set a width for the wrapping container */
    word-wrap: break-word /* ensures the text wraps to the next line if it overflows the container */
  }
  
  
